landing-map-section{
    padding: 12px;
    background: #000;
}

.landing-map {
    width: 100%;
    height: 40vh;
    border-radius:12px;
    overflow: hidden;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

@media (min-width: 992px) {
    .landing-map {
        height: 28vh;          /* desktop: smaller map */
    }

    .landing-map-section {
        padding: 20px 15%;     /* centered, nice buffer on large screens */
    }
}

#map {
    width: 100%;
    min-height: 400px;
    border-radius: 12px;
}

.map-wrapper {
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.map-column {
    flex: 1 1 60%;
    padding: 12px;
}

.map-wrapper .leaflet-container {
  width: 100% !important;
  height: 100% !important;
  padding: 12px
}